<!DOCTYPE html>
<html>
  <head>
    <title>HelloWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto&amp;subset=vietnamese' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="">

    <div id="sidebar" class="col-md-2 col-xs-3">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "mercedes.svg" %>
        <% end %>
      </div>

      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="mailto:duytu131995@gmail.com">Email</a></li>
      </ul>
    </div>

    <div id="main_content" class="main-right col-md-10 col-xs-9">
      <div id="header">
        <% if current_page?(root_path) %>
          <p>All posts</p>
        <% elsif current_page?(about_path) %>
          <p>About</p>
        <% else %>
          <%= link_to "Back to All posts", root_path %>
        <% end %>
        <% if user_signed_in? %>
          <div class="buttons">
            Logged in as <strong><%= current_user.email %></strong>
            <%= link_to "New Post", new_post_path, :class => 'navbar-link' %>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </div>
        <% else %>
          <div class="buttons">
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          </div>
        <% end %>
      </div>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: 'alert main-right col-md-10 col-xs-9') %>
    <% end %>

    <%= yield %>
  </body>
</html>
